In [1]:
!pip install pandas yfinance matplotlib

Requirement already satisfied: pandas in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (2.3.2)
Requirement already satisfied: yfinance in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (0.2.65)
Requirement already satisfied: matplotlib in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (3.10.5)
Requirement already satisfied: numpy>=1.26.0 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: requests>=2.31 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from yfinance) (2.32.4)
Requirement already satisfied: multitasking>=0.0.7 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from yfinance) (4.3.8)
Requirement already satisfied: frozendict>=2.3.4 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from yfinance) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from yfinance) (6.32.0)
Requirement already satisfied: websockets>=13.0 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from yfinance) (15.0.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from matplotlib) (4.59.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: soupsieve>1.2 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.0)
Requirement already satisfied: cffi>=1.12.0 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (2025.6.15)
Requirement already satisfied: pycparser in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/gitpod/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.4.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd
import yfinance as yf

In [3]:
df = yf.download('AAPL', start="2015-01-01", end="2025-08-22")

/tmp/ipykernel_3027/1444530842.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download('AAPL', start="2015-01-01", end="2025-08-22")
[*********************100%***********************]  1 of 1 completed

In [4]:
df.head(10)

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2015-01-02  24.261044  24.729267  23.821668  24.718171  212818400
2015-01-05  23.577568  24.110144  23.391167  24.030258  257142000
2015-01-06  23.579800  23.839430  23.218091  23.641933  263188400
2015-01-07  23.910433  24.010290  23.677430  23.788384  160423600
2015-01-08  24.829124  24.886821  24.121242  24.238854  237458000
2015-01-09  24.855753  25.130917  24.456320  25.002210  214798000
2015-01-12  24.243294  24.993337  24.143436  24.986680  198603200
2015-01-13  24.458548  25.031067  24.167850  24.727054  268367600
2015-01-14  24.365337  24.518452  24.076858  24.196688  195826400
2015-01-15  23.704062  24.423038  23.668557  24.409725  240056000

In [5]:
df.tail(10)

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2025-08-08  229.090012  230.738135  219.001455  220.579666  113854000
2025-08-11  227.179993  229.559998  224.759995  227.919998   61806100
2025-08-12  229.649994  230.800003  227.070007  228.009995   55626200
2025-08-13  233.330002  235.000000  230.429993  231.070007   69878500
2025-08-14  232.779999  235.119995  230.850006  234.059998   51916300
2025-08-15  231.589996  234.279999  229.339996  234.000000   56038700
2025-08-18  230.889999  233.119995  230.110001  231.699997   37476200
2025-08-19  230.559998  232.869995  229.350006  231.279999   39402600
2025-08-20  226.009995  230.470001  225.770004  229.979996   42190600
2025-08-21  225.395096  226.520004  224.510101  226.279999   11319912

In [6]:
df.to_csv('raw_data.csv')

In [7]:
df = pd.read_csv('raw_data.csv', header=0, skiprows=[1, 2])

In [8]:
df.rename(columns={'Price': 'Date'}, inplace=True)

In [9]:
df.set_index('Date', inplace=True)
df.index = pd.to_datetime(df.index)

In [10]:
df['Change_Over_Time'] = df['Close'].diff()

In [11]:
df['Change_Over_Time'].fillna(0, inplace=True)

/tmp/ipykernel_3027/2688746579.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Change_Over_Time'].fillna(0, inplace=True)

In [12]:
typical_price = (df['High'] + df['Low'] + df['Close']) / 3
cumulative_price_volume = (typical_price * df['Volume']).cumsum()
cumulative_volume = df['Volume'].cumsum()
df['VWAP'] = cumulative_price_volume / cumulative_volume

In [13]:
df.head()

,Close,High,Low,Open,Volume,Change_Over_Time,VWAP
Date,,,,,,,
2015-01-02,24.261044,24.729267,23.821668,24.718171,212818400,0.000000,24.270659
2015-01-05,23.577568,24.110144,23.391167,24.030258,257142000,-0.683475,23.954567
2015-01-06,23.579800,23.839430,23.218091,23.641933,263188400,0.002232,23.807817
2015-01-07,23.910433,24.010290,23.677430,23.788384,160423600,0.330633,23.818272
2015-01-08,24.829124,24.886821,24.121242,24.238854,237458000,0.918692,23.984997

In [14]:
df.tail()

,Close,High,Low,Open,Volume,Change_Over_Time,VWAP
Date,,,,,,,
2025-08-15,231.589996,234.279999,229.339996,234.000000,56038700,-1.190002,77.711269
2025-08-18,230.889999,233.119995,230.110001,231.699997,37476200,-0.699997,77.730236
2025-08-19,230.559998,232.869995,229.350006,231.279999,39402600,-0.330002,77.750115
2025-08-20,226.009995,230.470001,225.770004,229.979996,42190600,-4.550003,77.770907
2025-08-21,225.395096,226.520004,224.510101,226.279999,11319912,-0.614899,77.776412

In [15]:
df.info

<bound method DataFrame.info of                  Close        High         Low        Open     Volume  \
Date
2015-01-02   24.261044   24.729267   23.821668   24.718171  212818400
2015-01-05   23.577568   24.110144   23.391167   24.030258  257142000
2015-01-06   23.579800   23.839430   23.218091   23.641933  263188400
2015-01-07   23.910433   24.010290   23.677430   23.788384  160423600
2015-01-08   24.829124   24.886821   24.121242   24.238854  237458000
...                ...         ...         ...         ...        ...
2025-08-15  231.589996  234.279999  229.339996  234.000000   56038700
2025-08-18  230.889999  233.119995  230.110001  231.699997   37476200
2025-08-19  230.559998  232.869995  229.350006  231.279999   39402600
2025-08-20  226.009995  230.470001  225.770004  229.979996   42190600
2025-08-21  225.395096  226.520004  224.510101  226.279999   11319912

            Change_Over_Time       VWAP
Date
2015-01-02          0.000000  24.270659
2015-01-05         -0.683475  23.954567
2015-01-06          0.002232  23.807817
2015-01-07          0.330633  23.818272
2015-01-08          0.918692  23.984997
...                      ...        ...
2025-08-15         -1.190002  77.711269
2025-08-18         -0.699997  77.730236
2025-08-19         -0.330002  77.750115
2025-08-20         -4.550003  77.770907
2025-08-21         -0.614899  77.776412

[2675 rows x 7 columns]>

In [16]:
df.describe()

,Close,High,Low,Open,Volume,Change_Over_Time,VWAP
count,2675.000000,2675.000000,2675.000000,2675.000000,2.675000e+03,2675.000000,2675.000000
mean,101.202758,102.219138,100.085983,101.111834,1.135363e+08,0.075190,43.983951
std,69.880886,70.570842,69.109649,69.805650,6.806903e+07,2.205878,17.551440
min,20.624054,20.927686,20.425440,20.546436,1.131991e+07,-20.649445,23.807817
25%,36.277189,36.534229,35.936826,36.283725,6.768410e+07,-0.520264,27.375585
50%,76.876068,77.364252,76.000044,76.650560,9.648600e+07,0.048206,36.766131
75%,163.170586,164.780431,161.743936,163.092016,1.384640e+08,0.734265,61.056146
max,258.103729,259.179926,256.718662,257.276679,6.488252e+08,26.365463,77.776412

In [17]:
df.isna().sum()

Close               0
High                0
Low                 0
Open                0
Volume              0
Change_Over_Time    0
VWAP                0
dtype: int64